<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cadastro</title>

		<!-- Bootstrap -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
	</head>
	<body>
	<body>
		<header>
				<div class="container">
					<h5>
							<a href="home.html"><img src="assets/img/logo_on_transparent_254x75.png"  class="logo-home"/></a>
							Gerenciamento de Projetos
					</h5>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="masthead" id="bs-example-navbar-collapse-1">
						<ul class="nav nav-justified">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projetos <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="cadastrar-projeto.html">Cadastro CTRL + C</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="consultar-projeto.html">Consultar Projetos</a></li>
								</ul>
							</li>
							<li><a href="cadastro-de-indicador.html">Indicadores</a></li>
							<li><a href="relatorio.html">Relatórios</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrar Sistema <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="cadastro-de-colaborador.html">Cadastrar colaborador</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="controlar-acesso.html">Controle de acesso</a></li>
								</ul>
							</li>
							<li><a href="help.html">Help</a></li>
							<li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
						</ul>
					</div>
				</div>
		</header>

		<main>
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<section class="intro-page">
								<h1 class="heading">Permissão de acesso</h1>
								<p>Conceder permissão de acesso ao sistema através do cargo.</p>
							</section>

							<form id="filter" class="filter">
								<fieldset class="row">
									<div class="col-lg-4 group">
										<label for="">Nome do cargo</label>
										<input type="text" class="form-control" id="" placeholder="Nome do cargo">
									</div>
								</fieldset>
								<fieldset class="row">
									<div class="col-lg-2 group permission-column">
										<label class="checkbox-inline check-10"><input type="checkbox" value="">Incluir Projetos</label>
										<label class="checkbox-inline"><input type="checkbox" value="">Excluir Projetos</label>
										<label class="checkbox-inline"><input type="checkbox" value="">Editar Projetos</label>
										<label class="checkbox-inline"><input type="checkbox" value="">Visualizar Projetos</label>
									</div>
									<div class="col-lg-2 group permission-column">
										<label class="checkbox-inline check-10"><input type="checkbox" value="">Manter equipe</label>
										<label class="checkbox-inline"><input type="checkbox" value="">Cadastrar Indicadores</label>
										<label class="checkbox-inline"><input type="checkbox" value="">Associar Indicadores</label>
										<label class="checkbox-inline"><input type="checkbox" value="">Manter colaboradores</label>
									</div>
									<div class="col-lg-2 group permission-column">
										<label class="checkbox-inline check-10"><input type="checkbox" value="">Gerar relatórios</label>
										<label class="checkbox-inline"><input type="checkbox" value="">Controle de acesso</label>
										<label class="checkbox-inline"><input type="checkbox" value="">Classificar risco</label>
										<label class="checkbox-inline"><input type="checkbox" value="">Incluir fase</label>
									</div>
									<div class="col-lg-2 group permission-column">
										<label class="checkbox-inline check-10"><input type="checkbox" value="">Manter status</label>
										<label class="checkbox-inline"><input type="checkbox" value="">Manter atividades</label>
									</div>
								</fieldset>
								<div class="text-right">
									<button type="button" class="btn btn-default">Cancelar</button>
									<button type="submit" class="btn btn-primary">Confirmar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
		</main>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.mask.js"></script>
		<script src="assets/js/bootstrap-select.js"></script>
		<script src="assets/js/functions.js"></script>
	</body>
</html>
