<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cadastro</title>

		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/bootstrap-select.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<h5>
							<a href="home.html"><img src="assets/img/logo_on_transparent_254x75.png"  class="logo-home"/></a>
							Gerenciamento de Projetos
					</h5>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="masthead" id="bs-example-navbar-collapse-1">
						<ul class="nav nav-justified">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projetos <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="cadastrar-projeto.html">Cadastro CTRL + C</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="consultar-projeto.html">Consultar Projetos</a></li>
								</ul>
							</li>
							<li><a href="cadastro-de-indicador.html">Indicadores</a></li>
							<li><a href="relatorio.html">Relatórios</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrar Sistema <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="cadastro-de-colaborador.html">Cadastrar colaborador</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="controlar-acesso.html">Controle de acesso</a></li>
								</ul>
							</li>
							<li><a href="help.html">Help</a></li>
							<li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
						</ul>
					</div>
				</div>
		</header>
		<main>
			<section >
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<section class="intro-page">
								<h1 class="heading">Help sistema</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</section>
						</div>
					</div>
				</div>
			</section>

			<section class="faq">
				<div class="container filter">
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-md-4">
									<ul class="faq-filter">
										<li><a href="#Faq-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></li>

										<li><a href="#Faq-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></li>

										<li><a href="#Faq-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></li>

										<li><a href="#Faq-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></li>

										<li><a href="#Faq-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></li>
									</ul>
								</div>
								<div class="col-md-8">
									<article class="faq-container" id="Faq-1">
										<div class="faq-title-answer">
											<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
										</div>
										<div class="faq-answer">
											<p>Pellentesque lobortis consectetur tellus, vitae venenatis turpis ultrices vel. Donec ullamcorper neque quis augue iaculis, at ultrices augue suscipit. Nullam augue libero, tincidunt quis auctor id, imperdiet in lacus. Phasellus quis diam sit amet lacus finibus rutrum in eu nunc. Phasellus eleifend lectus libero, quis ultricies mauris gravida a. Curabitur fermentum dignissim felis, eget convallis nibh ultricies sit amet.</p>
										</div>
									</article>

									<article class="faq-container" id="Faq-2">
										<div class="faq-title-answer">
											<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
										</div>
										<div class="faq-answer">
											<p>Pellentesque lobortis consectetur tellus, vitae venenatis turpis ultrices vel. Donec ullamcorper neque quis augue iaculis, at ultrices augue suscipit. Nullam augue libero, tincidunt quis auctor id, imperdiet in lacus. Phasellus quis diam sit amet lacus finibus rutrum in eu nunc. Phasellus eleifend lectus libero, quis ultricies mauris gravida a. Curabitur fermentum dignissim felis, eget convallis nibh ultricies sit amet.</p>
										</div>
									</article>

									<article class="faq-container" id="Faq-3">
										<div class="faq-title-answer">
										<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
									</div>
									<div class="faq-answer">
										<p>Pellentesque lobortis consectetur tellus, vitae venenatis turpis ultrices vel. Donec ullamcorper neque quis augue iaculis, at ultrices augue suscipit. Nullam augue libero, tincidunt quis auctor id, imperdiet in lacus. Phasellus quis diam sit amet lacus finibus rutrum in eu nunc. Phasellus eleifend lectus libero, quis ultricies mauris gravida a. Curabitur fermentum dignissim felis, eget convallis nibh ultricies sit amet.</p>
									</article>

									<article class="faq-container" id="Faq-4">
										<div class="faq-title-answer-tm">
											<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
										</div>
										<div class="faq-answer-tm">
											<p>Pellentesque lobortis consectetur tellus, vitae venenatis turpis ultrices vel. Donec ullamcorper neque quis augue iaculis, at ultrices augue suscipit. Nullam augue libero, tincidunt quis auctor id, imperdiet in lacus. Phasellus quis diam sit amet lacus finibus rutrum in eu nunc. Phasellus eleifend lectus libero, quis ultricies mauris gravida a. Curabitur fermentum dignissim felis, eget convallis nibh ultricies sit amet.</p>
										</div>
									</article>

									<article class="faq-container" id="Faq-5">
										<div class="faq-title-answer-tm">
											<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
										</div>
										<div class="faq-answer-tm">
											<p>Pellentesque lobortis consectetur tellus, vitae venenatis turpis ultrices vel. Donec ullamcorper neque quis augue iaculis, at ultrices augue suscipit. Nullam augue libero, tincidunt quis auctor id, imperdiet in lacus. Phasellus quis diam sit amet lacus finibus rutrum in eu nunc. Phasellus eleifend lectus libero, quis ultricies mauris gravida a. Curabitur fermentum dignissim felis, eget convallis nibh ultricies sit amet.</p>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.mask.js"></script>
		<script src="assets/js/bootstrap-select.js"></script>
		<script src="assets/js/functions.js"></script>
	</body>
</html>
