<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Login</title>

		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/bootstrap-select.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
	</head>
	<body class="pagelogin">
		<main>
			<div class="container">
				<div class="row">
					<div class="wrapper">
						<img src="assets/img/logo_on_transparent_254x75.png" class="logo-login"/>
						<form class="form-signin">
							<h2 class="form-signin-heading">Login</h2>
							<input type="text" class="form-control" name="login" placeholder="Login" required="" autofocus="" />
							<input type="password" class="form-control" name="password" placeholder="Senha" required=""/>
							<label class="checkbox">
							<input type="checkbox" value="Salvar senha" id="" name=""> Salvar Senha
							</label>
							<button class="btn btn-lg btn-primary btn-block" type="submit" onclick="home.html">Entrar</button>
						</form>
					</div>
				</div>
			</div>
		</main>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.mask.js"></script>
		<script src="assets/js/bootstrap-select.js"></script>
		<script src="assets/js/functions.js"></script>
	</body>
</html>
